<div class="country-img">
    <img src="{{0.flags.svg}}" alt="{{0.name.official}}">
</div>
<div class="card-body">
    <h2 class="country-name">name.official: {{0.name.official}}</h2>
    <p class="card-text">capital: {{0.capital}}</p>
    <p class="card-text">population: {{0.population}}</p>
    <p class="card-text">languages: {{0.languages}}</p>
</div>